name: ci
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test-bazel:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
      - run: sudo xcode-select -s /Applications/Xcode_16.2.app
      - run: bazelisk build //...
      - run: bazelisk test //...
  test-swiftpm:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
      - run: sudo xcode-select -s /Applications/Xcode_16.2.app
      - run: swift build
      - run: swift test
  test-linux:
    runs-on: ubuntu-latest
    container: swift:6.2.3
    env:
      CC: clang
    steps:
      - uses: actions/checkout@v3
      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelisk-version: 1.x
      - run: bazel build //...
      - run: bazel test //...
