name: ci
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test-bazel:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v3
      - run: sudo xcode-select -s /Applications/Xcode_16.2.app
      - run: bazelisk build //...
      - run: bazelisk test //...
  test-swiftpm:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3
      - run: sudo xcode-select -s /Applications/Xcode_16.2.app
      - run: swift build
      - run: swift test
